/* app theme classes */
.day-clear-theme {
    background: #54cbf2;
    /* background: -webkit-linear-gradient(to top, #3182ed, #54cbf2); */
    background: linear-gradient(to top, #3182ed, #54cbf2);
}

.day-cloudy-theme {
    background: hsl(195, 55%, 69%);
    background: -webkit-linear-gradient(
        to top,
        hsl(214, 48%, 54%),
        hsl(195, 55%, 69%)
    );
    background: linear-gradient(to top, hsl(214, 48%, 54%), hsl(195, 55%, 69%));
}

.night-clear-theme {
    background: hsl(218, 12%, 19%);
    background: -webkit-linear-gradient(
        to top,
        hsl(217, 73%, 47%),
        hsl(216, 7%, 14%)
    );
    background: linear-gradient(to top, hsl(217, 73%, 47%), hsl(218, 12%, 19%));
}

.night-cloudy-theme {
    background: hsl(219, 9%, 31%);
    background: -webkit-linear-gradient(
        to top,
        hsl(217, 31%, 53%),
        hsl(219, 9%, 31%)
    );
    background: linear-gradient(to top, hsl(217, 31%, 53%), hsl(219, 9%, 31%));
}

@media (min-width: 992px) {
    .status h1 {
        font-size: 1.1rem !important;
    }
}

/* nav */
#logo-text {
    color: rgb(81, 84, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-btn {
    color: hsl(0, 0%, 93%);
    font-size: 0.8rem;
}

.tab-btn {
    background-color: hsla(0, 0%, 89%, 0.109) !important;
    color: rgba(255, 255, 255, 0.63);
}

.tab-btn.active {
    color: white !important;
}

/* graph styles */
text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.marks circle {
    fill: white;
}

.graph-lines line {
    stroke: white;
}

.line {
    stroke: hsla(0, 0%, 100%, 0.281);
    stroke-width: 2px;
}

.x-axis-value {
    fill: white;
    font-size: 0.7rem;
    font-weight: 500;
}

.mark-y-value {
    fill: rgb(236, 236, 253);
}

.band {
    transform-origin: bottom;
}

@media (min-width: 320px) {
    .x-axis-value {
        font-size: calc(0.7rem + 6 * ((100vw - 320px) / 680));
    }
}

@media (min-width: 1200px) {
    .x-axis-value {
        font-size: 1.2rem;
    }
}

/* footer */
.accuweather-logo {
    max-width: 110px;
    opacity: 0.6;
}

.footer {
    opacity: 0.6;
}

.update-info {
    color: white;
    font-size: 0.8rem;
}

.spinner {
    color: white;
    width: 0.8rem;
    height: 0.8rem;
    border-width: 2px;
    margin: 2px;
}

.arrow-clockwise {
    color: white;
    width: 1.1rem;
}

@media (min-width: 768px) {
    .footer-info {
        font-size: 1.2rem;
    }

    .footer-spinner {
        width: 1.5rem;
        height: 1.5rem;
        border-width: 2px;
    }
}
